.reveal pre code {
    font-size: 14px;
    line-height: 16px;
}

pre .dos .envvar, pre .dos .stream, pre .variable, pre .apache .sqbracket  {
    color: black !important;
}

pre .number, pre .date {
    font-weight: bold;
    color: #1C1091 !important;
}
